

.footercontainer
{
  background-color: #F1D6A0;
  align-items: center;
  padding: 20px;
}

#footercontent
{
  display: flex;
  padding: 20px;
  margin-top: 50px;
}

.learnandhelp
{
  font-size: 30px;
}

#links
{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  /* margin-left: 100px; */
  margin-top: 20px;
}

#linkstable1
{
  margin-left: 50px;
}

#linkstable2
{
  margin-left: 50px;
}

a
{
  text-decoration: none;
  color: rgb(88, 88, 88);
}

a:hover
{
  color: rgb(0, 76, 255);
  text-decoration: underline;
  transition: 0.3s;
}

#links h6
{
  padding: 5px;
  font-size: 20px;
}

h6
{
  text-decoration: none;
  color: #000;
}

#newsletter
{
  margin-left: 100px;
  margin-right: 50px;
}

#subandp
{
  text-align: center;
  margin-bottom: 50px;
}

#emailform
{
  text-align: center;
}

#email
{
  width: 450px;
  margin-bottom: 20px;
  border: solid 2px black;
  color: #000;
}

#email:hover
{
  border: solid 3px rgb(126, 87, 223);
  background-color: rgb(233, 218, 255);
  transition: 0.5s;
}

#subbutton
{
  padding: 10px;
  width: 200px;
  background-color: black;
  color: white;
}

#subbutton:hover
{
  background-color: white;
  color: #000;
  transition: 0.5s;
}

#iconlinks
{
  margin-left: 100px;
  margin-top: 20px;
  /* display: flex; */
}

#iconlinkstable1 span
{
  display: flex;
  padding: 5px;
  margin-top: 30px;
}

i{
  text-decoration: none;
  color: black;
}

.iconlinkstable h6
{
  font-size: 28px;
  padding: 15px;
}

#iconlinkstable1 h6:hover
{
  font-size: 30px;
  transition: 0.2s;
}

/* #iconlinkstable2 h6:hover
{
  font-size: 30px;
  transition: 0.2s;
}

#iconlinkstable2
{
  margin-left: 40px;
  margin-right: 50px;
} */

hr
{
  border: solid black;
  margin-top: 70px;
  margin-bottom: 70px;
}

#bottominfo
{
  text-align: center;
  margin-bottom: 40px;
}
